<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>动态组件与V-once指令</title>
        <script src="vue.js"></script>
    </head>
    <body>
        <div id="root">
            <!--<component :is="type"></component>-->
            <child-one v-if="type === 'child-one'"></child-one>
            <child-two v-if="type === 'child-two'"></child-two>
            <button @click="handleClick">Change</button>
        </div>
        <script>
            Vue.component('child-one',{
                template:'<div v-once>child-one</div>'  //直接从内存拿
            })
            Vue.component('child-two',{
                template:'<div v-once>child-two</div>'
            })
            var vm = new Vue({
                el:'#root',
                data:{
                    type:'child-one'
                },
                methods:{
                    handleClick: function(){
                        this.type = this.type === 'child-one' ?
                        'child-two':'child-one';
                    }
                }
            })
        </script>
    </body>
</html>